<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h5{
            color:red;
        }
    </style>
    {%load static%}
    <link rel ='stylesheet'  href="{%static 'login.css'%}">
</head>
<body>
    <h1>Enter login Details</h1>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    <form method = 'POST' action='login'>
        {% csrf_token %}
        <p>Username:</p>
        <input type='text' name ='username'/>
        <p>Email Address:</p>
        <input type='email' name = 'email'/>
        <p>password</p>
        <input type='password' name='password'/><br>
        <input type='submit'/>
    </form>
</body>
</html>